<!DOCTYPE html>
<html>
<head>
    
    <title>Inetas weblapa</title>
   
</head>
<body>
    

    <div>
        @RenderBody() 
        <hr />
        <footer>
            <p>&copy;  - Inetas .NET Web Application</p>
        </footer>
    </div>

</body>
</html>