<!-- Šājā vietā norāda, kāds modelis tiks izmantots, kad mēģinās uzģenerēt -->
<!-- Ar at izsauc C# kodu -->

@model List<AdvertsWebApp.Models.Advert>

@foreach(var ad in Model)
{
<p>@ad.Name - @ad.AdvertText (@ad.Price EUR)</p> <a href="/Home/Advert?advertId=@ad.AdvertID">Atvērt sludinājumu</a>
<!-- aiz '?' sākas funkcijai iedotie parametri -->
}