<!-- Šājā vietā norāda, kāds modelis tiks izmantots, kad mēģinās uzģenerēt, ja dati ir dinamiski, nevis hardcoded -->
<!-- Ar at izsauc C# kodu -->

@model List<AdvertsWebApp.Models.Advert>

@foreach(var ad in Model)
{
<p><a href="/Home/Advert?advertId=@ad.AdvertID">@ad.Name - @ad.AdvertText (@ad.Price EUR)</a></p> 
<!-- aiz '?' sākas funkcijai iedotie parametri -->
}
@Html.ActionLink("Pievienot jaunu sludinājumu", "CreateAdvert")